/segundo parcial/tercer ejercicio/Arr/nbproject/private/
/segundo parcial/tercer ejercicio/Arr/build/
/segundo parcial/ConvertNUmber/nbproject/private/
/segundo parcial/ConvertNUmber/build/
/segundo parcial/fractions/nbproject/private/
/segundo parcial/fractions/build/
/segundo parcial/excepciones/nbproject/private/
/segundo parcial/excepciones/build/
/segundo parcial/repaso/numeriUno/nbproject/private/
/segundo parcial/repaso/numeriUno/build/
/segundo parcial/repaso/SegundoEjercicio/nbproject/private/
/segundo parcial/repaso/SegundoEjercicio/build/
/segundo parcial/repaso/poo_4/nbproject/private/
/segundo parcial/repaso/poo_4/build/
/segundo parcial/repaso/factura/nbproject/private/